<!-- This is the overlay for contact content -->
<div id="modalUi">
    <div class="modal_container">
        <a id="close_modal" href="javascript:off();">x</a>
        <h2>{{username}},</h2>
        <h2>How are you feeling?</h2>
        <select name="moods" id="mood_selector">
            <!-- TODO: pull these values from the api -->
            <option value="1">joyful, happy, relaxed</option>
            <option value="2">sad, lonely, depressed</option>
            <option value="3">productive, energetic, active</option>
            <option value="4">sick, tired, lazy</option>
            <option value="5">average, normal, good</option>
            <option value="6">angry, anxious, frustrated</option>
        </select>
        <h2>Would you like to expand on how you're feeling?</h2>
        <textarea id="journal_text"></textarea>
        <h2>Do you want to upload a photo about your day?</h2>
        <input type="file" id="journal_img" accept="image/*"/>
        <button id="submit_journal_btn" onclick="submitJournal()">Submit</button>
    </div>
</div>

<!-- This is for the navigation logo area -->
<section id="intPages">
    <nav>
        <div class="smLogo">
            <img src="/assets/images/Vibe-logo.svg" alt="Vibe Logo">
        </div>
    </nav>
    <div>
        <button id="logout" class="btn-no-style">logout</button>
        <a href="javascript:on();"><img src="/assets/images/add-icon-button.svg" alt="Record Your Mood"></a>
    </div>
</section>

<!-- This is for some text and info -->
<section id="welcomeText">
    <div class="smallTitle" id="datetime">
    </div>
    <h2>
        Welcome, {{username}} 
    </h2>
</section>

<!-- This is the section for logic -->
<!-- In this section we have two states... -->
<section id="todayQuery">
    <!-- 1. Has the user recorded a mood today? -->
    <p>
        You haven’t recorded your mood today.
    </p>
    <div>
        <a href="/record" class="bigLink">How are you?</a>
    </div>
    <!-- 2. Has the user recorded their mood today? -->
    <!-- <p>
        Nice job! You recorded your mood today.
    </p> -->
</section>

<!-- This is the section for the Calendar -->
<section id="moodCalendar">
    <h1>
        Mood Calendar
    </h1>
    <div class="infoText">
        Last 30 days
    </div>
    <!-- Calendar goes below -->
    <!-- End of calendar -->
    <div class="container">
        <div class="calendar">
            <div class="header">
                <div class="vibe"></div>
            </div>
            <div class="month">
            <div class="date">
                <h1></h1>
                <p></p>
            </div>
            </div>
            <div class="weekdays">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
            </div>
            <div class="days"></div>
        </div>
        </div>
    <!-- Need to include a color scale key below -->
</section>

<!-- This is the section for the Mood Summary -->
<section id="moodSummary">
    <h1>
        Mood Summary 
    </h1>
    <div class="infoText">
        In the last 30 days
    </div>
    {{!-- <ul>
        <li>You recorded your mood <span class="beBold">{{number of times}}</span>times on <span class="beBold">{{number of days}} d</span>ays.</li>
        <!-- This is an area that will need conditional logic -->
        <li>Your current recorded mood is <span class="beBold">{{current mood}} ➞ leaning {{nearest mood}}</span>.</li>
        <li>You wrote <span class="beBold">{{number of notes}}</span>notes in your mood recordings.</li>
        <li>You answered <span class="beBold">{{number of feelings}}</span> feeling questions.</li>
        <li>You uploaded <span class="beBold">{{number of photos}}</span> photos to mood recordings.</li>  
    </ul> --}}
</section>

<script type = "text/JavaScript" src="https://MomentJS.com/downloads/moment.js"></script>

<!-- Including Handlebars -->
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

<!-- Main script file -->
<script src="/assets/js/scripts.js"></script>

<!-- Calendar JS -->
<script src="/assets/js/calendar.js"></script>

{{!-- logout script --}}
<script src="/assets/js/logout.js"></script>